@main(title = "Wall") {
<header xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="twelve columns">
            <h1> Fluid Learn </h1>
            <h4></h4>
        </div>
    </div>
</header>
@if(flash.get("success") != null) {
    <p class="alert-box success">
        @flash.get("success")
    </p>
}
@if(flash.get("error") != null) {
    <p class="alert-box alert">
        @flash.get("error")
    </p>
}
<section id="mainContent" class="example">


    <section id="exampleHeader">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <p class="right">
                        @if(session.get("name") != null) {
                            <span id="username"> @session.get("name") </span>
                            <a href="@{
                                routes.Application.logout()
                            }"> Log Out </a>
                        } else {
                            <a href="@{
                                routes.Application.login()
                            }"> Login </a> or
                            <a href="@{
                                routes.Application.singup()
                            }"> Sing Up </a>
                        }
                    </p>
                    <h3> Wall </h3>
                </div>
            </div>
        </div>
    </section>


    <div class="container">
        <div class="row">
            <div class="seven columns">
                <form id="formPost" method="post" action="@{
                    routes.PostController.create()
                }">

                    <div class="row">
                        <div class="large-12 columns">
                            <label> Write something </label>
                            <textarea name="text" placeholder="What's on your mind?"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-6 large-2 columns right">
                            <button type="submit" class="small button right"> Post </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">

            <div class="seven columns">

                <div class="row mobile" ng-repeat="post in posts | orderBy:'createdOn':true">
                    <div class="two phone-one columns"  ng-bind-html-unsafe="post.photo">

                    </div>
                    <div class="ten phone-three columns">

                        <p> <strong> <a href="">
                                {{post.member.name}} </a> said: </strong> <br> "{{post.text}}" </p>

                        <section class="comments">

                            <div class="row" ng-repeat="comment in post.comments | orderBy:'createdOn':false">
                                <div class="two phone-one columns" ng-bind-html-unsafe="comment.photo">

                                </div>
                                <div class="ten phone-three columns"> <a href="">
                                        {{comment.member.name}} </a> says "{{comment.text}}" </div>
                            </div>

                            <form class="formComment" method="post" action="/comment/{{post.id}}" onsubmit="">
                                <div class="row">
                                    <div class="large-12 columns">
                                        <textarea name="text" placeholder="Write a comment"></textarea>
                                        <button type="submit" class="small button right"> Comment </button>
                                    </div>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
                <hr>
            </div>
            <div class="four columns offset-by-one">
            </div>
        </div>

    </div> </section>


<footer class="row">

</footer>
}