@(form: Form[Application.Login])
@main(title = "Login") {
    <div class="row">
        <div class="small-3 small-centered columns">
            @helper.form(action = routes.Application.authenticate) {
                <h1> Sign in </h1>
                @if(form.hasGlobalErrors) {
                    <div class="alert-box alert">
                        @form.globalError.message
                    </div>
                }
                <p>
                    <input type="email" name="email" placeholder="Email" value="@form("email").value">
                </p>
                <p>
                    <input type="password" name="password" placeholder="Password">
                </p>
                <p>
                    <button type="submit"> Login </button>
                </p>
            }
        </div>
    </div>
}