@(form: Form[Member])
@main(title = "Sing Up") {
    <div class="row">
        <div class="small-3 small-centered columns">
            @helper.form(action = routes.Application.createUser()) {
                <h1> Sign in </h1>
                @if(form.hasGlobalErrors) {
                    <div class="alert-box alert">
                        @form.globalError.message
                    </div>
                }
                <p>
                    <input type="text" name="name" placeholder="First Name and Last Name" value="@form("name").value">
                </p>
                <p>
                    <label> Put your Gravatar mail </label>
                    <input type="email" name="email" placeholder="Email" value="@form("email").value">
                </p>
                <p>
                    <input type="password" name="password" placeholder="Password">
                </p>
                <p>
                    <button type="submit"> Sing Up </button>
                </p>
            }
        </div>
    </div>
}